---
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    </head>
    <body>
        <a href="/blogs">Blogs</a>
        <h1>Hello World</h1>
    </body>
</html>