---
const currentYear = new Date().getFullYear();

import '../styles/global.css';
---

<footer>
	<p>&copy; {currentYear} Pascal Kraus. All rights reserved.</p>
</footer>

<style>
	footer {
		text-align: center;
		padding: 1rem;
		background-color: var(--background-color);
	}

	p {
		margin: 0;
		font-size: 0.9rem;
		color: var(--text-color);
	}
</style>
