---
import '../styles/global.css';
import HeaderLink from './HeaderLink.astro';
import 'bootstrap-icons/font/bootstrap-icons.css';
---

<header>
	<nav>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blogs">Blog</HeaderLink>
        </div>
        <div class="social-links">
            <a href="https://x.com/BearWithAI" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-twitter-x icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/pascal7kraus/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-linkedin icon"></i>
            </a>
            <a href="https://github.com/Spycner" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github icon"></i>
            </a>
        </div>
    </nav>
</header>

<style>
    header {
        margin: 0;
        padding: 0 1rem;
        background: var(--background-color);
    }
    nav {
        display: flex;
        justify-content: center; /* Center the internal links */
        align-items: center;
        position: relative; /* To position social links absolutely */
    }
    .internal-links {
        display: flex;
        gap: 1rem;
    }
    .social-links {
        display: flex;
        gap: 1rem; /* Added gap between icons */
        position: absolute;
        right: 1rem; /* Align to the right */
    }
    nav a {
        padding: 0.5rem 0.5rem;
        color: var(--text-color);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }

    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent-color);
    }

    nav a:hover {
        color: var(--accent-color);
    }
    
    .social-links a {
        display: flex;
        align-items: center;
    }
    .icon {
        font-size: 24px;
        color: var(--text-color);
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>